<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>
		<string>a</string>
		<string>ac</string>
		<string>accum</string>
		<string>accummy</string>
		<string>accumsan</string>
		<string>accumsandre</string>
		<string>aci</string>
		<string>aciduipis</string>
		<string>acidunt</string>
		<string>aciliqu</string>
		<string>aciliquis</string>
		<string>acilit</string>
		<string>acing</string>
		<string>acipisl</string>
		<string>acipit</string>
		<string>acipsus</string>
		<string>ad</string>
		<string>adiam</string>
		<string>adiat</string>
		<string>adiatet</string>
		<string>adignim</string>
		<string>adignit</string>
		<string>adio</string>
		<string>adion</string>
		<string>adionse</string>
		<string>adionsed</string>
		<string>adionsequat</string>
		<string>adipis</string>
		<string>adipiscing</string>
		<string>adipsusting</string>
		<string>adipsusto</string>
		<string>adit</string>
		<string>aenean</string>
		<string>aliquam</string>
		<string>aliquat</string>
		<string>aliquatem</string>
		<string>aliquet</string>
		<string>aliqui</string>
		<string>aliquip</string>
		<string>aliquipsum</string>
		<string>aliquis</string>
		<string>aliquisi</string>
		<string>alis</string>
		<string>aliscil</string>
		<string>aliscin</string>
		<string>alisi</string>
		<string>alisis</string>
		<string>alisit</string>
		<string>alismolum</string>
		<string>alit</string>
		<string>am</string>
		<string>amcommo</string>
		<string>amconsecte</string>
		<string>amconsendre</string>
		<string>amconumsan</string>
		<string>amet</string>
		<string>ametum</string>
		<string>ametumm</string>
		<string>andrero</string>
		<string>ante</string>
		<string>aptent</string>
		<string>arcu</string>
		<string>at</string>
		<string>ate</string>
		<string>atinit</string>
		<string>ationullaoret</string>
		<string>atis</string>
		<string>atueros</string>
		<string>atummy</string>
		<string>auctor</string>
		<string>augait</string>
		<string>augiam</string>
		<string>augiat</string>
		<string>augue</string>
		<string>auguer</string>
		<string>auguero</string>
		<string>aut</string>
		<string>autat</string>
		<string>autatie</string>
		<string>aute</string>
		<string>autem</string>
		<string>autet</string>
		<string>autpate</string>
		<string>bibendum</string>
		<string>bla</string>
		<string>blam</string>
		<string>blamet</string>
		<string>blandipisisi</string>
		<string>blandit</string>
		<string>blaor</string>
		<string>blaore</string>
		<string>cilit</string>
		<string>cillum</string>
		<string>cipsusto</string>
		<string>class</string>
		<string>commod</string>
		<string>commodipis</string>
		<string>commodo</string>
		<string>commodolor</string>
		<string>commolor</string>
		<string>commolum</string>
		<string>commy</string>
		<string>con</string>
		<string>condimentum</string>
		<string>congue</string>
		<string>conse</string>
		<string>consecte</string>
		<string>consectem</string>
		<string>consectetuer</string>
		<string>consed</string>
		<string>consenibh</string>
		<string>consenisim</string>
		<string>consenit</string>
		<string>consent</string>
		<string>consequ</string>
		<string>consequam</string>
		<string>consequat</string>
		<string>consequipis</string>
		<string>consequipit</string>
		<string>consequis</string>
		<string>conubia</string>
		<string>conullandiam</string>
		<string>conulluptat</string>
		<string>conulputem</string>
		<string>conum</string>
		<string>convallis</string>
		<string>cor</string>
		<string>core</string>
		<string>coreet</string>
		<string>coreetue</string>
		<string>corem</string>
		<string>coreraestrud</string>
		<string>corero</string>
		<string>corperc</string>
		<string>cras</string>
		<string>cubilia</string>
		<string>cum</string>
		<string>curabitur</string>
		<string>curae</string>
		<string>cursus</string>
		<string>dapibus</string>
		<string>del</string>
		<string>delendipis</string>
		<string>delent</string>
		<string>deliquatue</string>
		<string>deliqui</string>
		<string>delit</string>
		<string>diam</string>
		<string>diamcom</string>
		<string>diamcon</string>
		<string>diamet</string>
		<string>diat</string>
		<string>dictum</string>
		<string>dictumst</string>
		<string>digna</string>
		<string>dignis</string>
		<string>dignissequis</string>
		<string>dignissim</string>
		<string>dio</string>
		<string>dionse</string>
		<string>dionsenit</string>
		<string>dionull</string>
		<string>dip</string>
		<string>dipiscipit</string>
		<string>dipissit</string>
		<string>dis</string>
		<string>dit</string>
		<string>do</string>
		<string>dolendi</string>
		<string>dolendit</string>
		<string>dolendrem</string>
		<string>dolendrer</string>
		<string>dolenim</string>
		<string>dolent</string>
		<string>dolese</string>
		<string>dolesecte</string>
		<string>dolessed</string>
		<string>dolessi</string>
		<string>dolobor</string>
		<string>dolobore</string>
		<string>doloboreet</string>
		<string>doloborem</string>
		<string>doloborper</string>
		<string>dolor</string>
		<string>dolore</string>
		<string>doloreet</string>
		<string>dolorem</string>
		<string>dolorer</string>
		<string>dolorerat</string>
		<string>dolorpe</string>
		<string>dolorper</string>
		<string>dolortis</string>
		<string>dolortisl</string>
		<string>dolum</string>
		<string>dolummy</string>
		<string>dolumsan</string>
		<string>doluptat</string>
		<string>doluptatue</string>
		<string>dolut</string>
		<string>dolutem</string>
		<string>dolutpat</string>
		<string>donec</string>
		<string>dui</string>
		<string>duis</string>
		<string>duisi</string>
		<string>duisit</string>
		<string>duismolobore</string>
		<string>dunt</string>
		<string>ea</string>
		<string>ed</string>
		<string>eetuercil</string>
		<string>egestas</string>
		<string>eget</string>
		<string>el</string>
		<string>eleifend</string>
		<string>elementum</string>
		<string>elenisit</string>
		<string>elenit</string>
		<string>elese</string>
		<string>elesequ</string>
		<string>elesto</string>
		<string>eliquatum</string>
		<string>elis</string>
		<string>elit</string>
		<string>endio</string>
		<string>endre</string>
		<string>endreet</string>
		<string>enibh</string>
		<string>enim</string>
		<string>enis</string>
		<string>eniscip</string>
		<string>enisit</string>
		<string>enissim</string>
		<string>enississe</string>
		<string>enit</string>
		<string>ent</string>
		<string>er</string>
		<string>eraestie</string>
		<string>eraestrud</string>
		<string>erat</string>
		<string>erciduis</string>
		<string>ercilis</string>
		<string>ercincil</string>
		<string>erit</string>
		<string>eriure</string>
		<string>eriurer</string>
		<string>ero</string>
		<string>eros</string>
		<string>erostin</string>
		<string>ese</string>
		<string>esectem</string>
		<string>esed</string>
		<string>esequat</string>
		<string>esequi</string>
		<string>esequis</string>
		<string>esse</string>
		<string>essequis</string>
		<string>essi</string>
		<string>essisis</string>
		<string>essisit</string>
		<string>essit</string>
		<string>est</string>
		<string>estie</string>
		<string>esting</string>
		<string>estio</string>
		<string>esto</string>
		<string>estrud</string>
		<string>et</string>
		<string>etiam</string>
		<string>etueratem</string>
		<string>etuerci</string>
		<string>etuercillan</string>
		<string>etuerostrud</string>
		<string>etum</string>
		<string>eu</string>
		<string>eugait</string>
		<string>eugiam</string>
		<string>eugiamconse</string>
		<string>eugiamcorer</string>
		<string>eugiat</string>
		<string>eugiate</string>
		<string>eugiatum</string>
		<string>eugue</string>
		<string>euguer</string>
		<string>euguercinis</string>
		<string>euguero</string>
		<string>eui</string>
		<string>euipit</string>
		<string>euis</string>
		<string>euiscip</string>
		<string>euisi</string>
		<string>euisl</string>
		<string>euismod</string>
		<string>euissim</string>
		<string>eum</string>
		<string>eummy</string>
		<string>eumsan</string>
		<string>eumsandre</string>
		<string>ex</string>
		<string>exer</string>
		<string>exerat</string>
		<string>exercilit</string>
		<string>exercillaore</string>
		<string>exercipsum</string>
		<string>exeriure</string>
		<string>exero</string>
		<string>exeros</string>
		<string>exerostin</string>
		<string>faccum</string>
		<string>faccummy</string>
		<string>faccumsan</string>
		<string>faci</string>
		<string>facidui</string>
		<string>faciduisi</string>
		<string>faciduisit</string>
		<string>facidunt</string>
		<string>faciliq</string>
		<string>faciliquis</string>
		<string>facilisi</string>
		<string>facilisis</string>
		<string>facilisse</string>
		<string>facillum</string>
		<string>facin</string>
		<string>facinci</string>
		<string>facincil</string>
		<string>facincilit</string>
		<string>facing</string>
		<string>facipsu</string>
		<string>facipsum</string>
		<string>fames</string>
		<string>faucibus</string>
		<string>felis</string>
		<string>fermentum</string>
		<string>feu</string>
		<string>feugait</string>
		<string>feugiam</string>
		<string>feugiamet</string>
		<string>feugiat</string>
		<string>feugiatue</string>
		<string>feugue</string>
		<string>feuguer</string>
		<string>feuguerci</string>
		<string>feuguerit</string>
		<string>feuguerostin</string>
		<string>feui</string>
		<string>feuipsumsan</string>
		<string>feuisi</string>
		<string>feuismodolor</string>
		<string>feum</string>
		<string>fringilla</string>
		<string>fusce</string>
		<string>gait</string>
		<string>gravida</string>
		<string>habitant</string>
		<string>habitasse</string>
		<string>hac</string>
		<string>hendigna</string>
		<string>hendip</string>
		<string>hendipisim</string>
		<string>hendre</string>
		<string>hendrerit</string>
		<string>henim</string>
		<string>henis</string>
		<string>henisi</string>
		<string>henissi</string>
		<string>henit</string>
		<string>hent</string>
		<string>hymenaeos</string>
		<string>iaculis</string>
		<string>id</string>
		<string>idunt</string>
		<string>il</string>
		<string>iliquamcon</string>
		<string>iliquat</string>
		<string>iliqui</string>
		<string>iliquipisl</string>
		<string>iliquis</string>
		<string>iliquiscipis</string>
		<string>ilis</string>
		<string>ilit</string>
		<string>illa</string>
		<string>illam</string>
		<string>illaor</string>
		<string>illuptatie</string>
		<string>im</string>
		<string>imperdiet</string>
		<string>in</string>
		<string>inceptos</string>
		<string>inci</string>
		<string>inciduipit</string>
		<string>incinci</string>
		<string>incing</string>
		<string>incinim</string>
		<string>incinis</string>
		<string>incipis</string>
		<string>ing</string>
		<string>iniam</string>
		<string>iniatue</string>
		<string>inim</string>
		<string>integer</string>
		<string>interdum</string>
		<string>ip</string>
		<string>ipis</string>
		<string>ipisci</string>
		<string>ipiscip</string>
		<string>ipisim</string>
		<string>ipisl</string>
		<string>ipit</string>
		<string>ipsum</string>
		<string>ipsumsan</string>
		<string>ipsusci</string>
		<string>ipsuscidunt</string>
		<string>ipsustie</string>
		<string>ipsustrud</string>
		<string>iquatum</string>
		<string>iril</string>
		<string>irilit</string>
		<string>irilla</string>
		<string>irillam</string>
		<string>irit</string>
		<string>iriure</string>
		<string>iscidunt</string>
		<string>iscing</string>
		<string>iscipit</string>
		<string>isisiscilit</string>
		<string>ismolore</string>
		<string>issectem</string>
		<string>issendiam</string>
		<string>issequi</string>
		<string>iure</string>
		<string>iureet</string>
		<string>iurem</string>
		<string>iurercing</string>
		<string>iuscing</string>
		<string>iuscipit</string>
		<string>iustrud</string>
		<string>justo</string>
		<string>la</string>
		<string>lacinia</string>
		<string>lacus</string>
		<string>lam</string>
		<string>lamconullaor</string>
		<string>lan</string>
		<string>landignibh</string>
		<string>landrem</string>
		<string>laor</string>
		<string>laore</string>
		<string>laoreet</string>
		<string>laortie</string>
		<string>lectus</string>
		<string>leo</string>
		<string>libero</string>
		<string>ligula</string>
		<string>litora</string>
		<string>lobor</string>
		<string>lobore</string>
		<string>loboreet</string>
		<string>loborer</string>
		<string>loborper</string>
		<string>loborperci</string>
		<string>loborting</string>
		<string>lobortio</string>
		<string>lobortis</string>
		<string>lor</string>
		<string>lore</string>
		<string>loreetue</string>
		<string>lorem</string>
		<string>lorer</string>
		<string>lorper</string>
		<string>lorpercidunt</string>
		<string>luctus</string>
		<string>lum</string>
		<string>lumsan</string>
		<string>luptat</string>
		<string>luptatum</string>
		<string>lut</string>
		<string>lutat</string>
		<string>lute</string>
		<string>lutpat</string>
		<string>maecenas</string>
		<string>magna</string>
		<string>magniamet</string>
		<string>magniat</string>
		<string>magnim</string>
		<string>magnis</string>
		<string>magnit</string>
		<string>malesuada</string>
		<string>massa</string>
		<string>mattis</string>
		<string>mauris</string>
		<string>metus</string>
		<string>mi</string>
		<string>min</string>
		<string>mincidunt</string>
		<string>minciliquat</string>
		<string>miniat</string>
		<string>minit</string>
		<string>mod</string>
		<string>modiam</string>
		<string>modignis</string>
		<string>modion</string>
		<string>modionsed</string>
		<string>modipsu</string>
		<string>modipsustie</string>
		<string>modit</string>
		<string>modo</string>
		<string>modolore</string>
		<string>modolutem</string>
		<string>molestie</string>
		<string>mollis</string>
		<string>molor</string>
		<string>molore</string>
		<string>montes</string>
		<string>morbi</string>
		<string>msandre</string>
		<string>mus</string>
		<string>nam</string>
		<string>nascetur</string>
		<string>natoque</string>
		<string>nec</string>
		<string>neque</string>
		<string>netus</string>
		<string>niam</string>
		<string>niamcon</string>
		<string>niamet</string>
		<string>niat</string>
		<string>nibh</string>
		<string>nim</string>
		<string>nis</string>
		<string>niscidu</string>
		<string>niscilit</string>
		<string>nisim</string>
		<string>nisit</string>
		<string>nisl</string>
		<string>nissi</string>
		<string>nit</string>
		<string>non</string>
		<string>nonse</string>
		<string>nonsed</string>
		<string>nonsenibh</string>
		<string>nonsequ</string>
		<string>nonsequam</string>
		<string>nonsequi</string>
		<string>nonulla</string>
		<string>nonulput</string>
		<string>nonulputate</string>
		<string>nonum</string>
		<string>nonummy</string>
		<string>nos</string>
		<string>nostie</string>
		<string>nostissi</string>
		<string>nosto</string>
		<string>nostra</string>
		<string>nostrud</string>
		<string>nulla</string>
		<string>nullam</string>
		<string>nullandigna</string>
		<string>nullandrem</string>
		<string>nullaor</string>
		<string>nullum</string>
		<string>nulluptatie</string>
		<string>nullut</string>
		<string>nullute</string>
		<string>nulput</string>
		<string>nulputpatum</string>
		<string>num</string>
		<string>nummolorem</string>
		<string>nummy</string>
		<string>numsan</string>
		<string>numsandre</string>
		<string>nunc</string>
		<string>obor</string>
		<string>od</string>
		<string>odigna</string>
		<string>odio</string>
		<string>odionsequip</string>
		<string>odipsumsan</string>
		<string>odolobor</string>
		<string>odolor</string>
		<string>odolore</string>
		<string>odolorperos</string>
		<string>odolupt</string>
		<string>olenit</string>
		<string>olorper</string>
		<string>onse</string>
		<string>orci</string>
		<string>ornare</string>
		<string>os</string>
		<string>ostrud</string>
		<string>parturient</string>
		<string>patin</string>
		<string>pede</string>
		<string>pellentesque</string>
		<string>penatibus</string>
		<string>per</string>
		<string>peraese</string>
		<string>pharetra</string>
		<string>phasellus</string>
		<string>placerat</string>
		<string>platea</string>
		<string>porta</string>
		<string>porttitor</string>
		<string>posuere</string>
		<string>potenti</string>
		<string>praesed</string>
		<string>praesent</string>
		<string>praessequate</string>
		<string>praestie</string>
		<string>praestis</string>
		<string>prat</string>
		<string>prate</string>
		<string>pratisl</string>
		<string>pretium</string>
		<string>primis</string>
		<string>proin</string>
		<string>psusto</string>
		<string>psustrud</string>
		<string>pulvinar</string>
		<string>purus</string>
		<string>put</string>
		<string>quam</string>
		<string>quamconsequi</string>
		<string>quamet</string>
		<string>quat</string>
		<string>quatet</string>
		<string>quatie</string>
		<string>quatio</string>
		<string>quation</string>
		<string>quatuer</string>
		<string>quatuerit</string>
		<string>quatums</string>
		<string>qui</string>
		<string>quip</string>
		<string>quipsum</string>
		<string>quis</string>
		<string>quiscilit</string>
		<string>quisi</string>
		<string>quisisl</string>
		<string>quisl</string>
		<string>quismod</string>
		<string>quisque</string>
		<string>quissi</string>
		<string>rcilis</string>
		<string>rhoncus</string>
		<string>ridiculus</string>
		<string>rilisit</string>
		<string>rilit</string>
		<string>risus</string>
		<string>ros</string>
		<string>rostisi</string>
		<string>rud</string>
		<string>rutrum</string>
		<string>sagittis</string>
		<string>sandigna</string>
		<string>sapien</string>
		<string>scelerisque</string>
		<string>scilis</string>
		<string>scillum</string>
		<string>se</string>
		<string>secte</string>
		<string>sectem</string>
		<string>sed</string>
		<string>sem</string>
		<string>semper</string>
		<string>sendio</string>
		<string>senectus</string>
		<string>senisl</string>
		<string>sequam</string>
		<string>sequat</string>
		<string>sequis</string>
		<string>si</string>
		<string>sim</string>
		<string>sis</string>
		<string>sismolore</string>
		<string>sit</string>
		<string>sociis</string>
		<string>sociosqu</string>
		<string>sodales</string>
		<string>sollicitudin</string>
		<string>ssisci</string>
		<string>stincil</string>
		<string>sum</string>
		<string>summy</string>
		<string>sumsan</string>
		<string>sumsandre</string>
		<string>susci</string>
		<string>susciduipit</string>
		<string>suscil</string>
		<string>suscilla</string>
		<string>suscin</string>
		<string>suscipit</string>
		<string>suspendisse</string>
		<string>susto</string>
		<string>sustrud</string>
		<string>taciti</string>
		<string>tat</string>
		<string>tatet</string>
		<string>tatiniat</string>
		<string>tatisit</string>
		<string>tatue</string>
		<string>tatum</string>
		<string>tatumsan</string>
		<string>te</string>
		<string>tellus</string>
		<string>tem</string>
		<string>tempor</string>
		<string>tempus</string>
		<string>tet</string>
		<string>tie</string>
		<string>tin</string>
		<string>tincidunt</string>
		<string>tinit</string>
		<string>tio</string>
		<string>tion</string>
		<string>tionsenis</string>
		<string>tionsequi</string>
		<string>tionulla</string>
		<string>tis</string>
		<string>tisi</string>
		<string>tisis</string>
		<string>tismolortis</string>
		<string>torquent</string>
		<string>tortor</string>
		<string>tristique</string>
		<string>tue</string>
		<string>turpis</string>
		<string>uamconum</string>
		<string>uissit</string>
		<string>ulla</string>
		<string>ullam</string>
		<string>ullamcorper</string>
		<string>ullan</string>
		<string>ullaor</string>
		<string>ullut</string>
		<string>ullutat</string>
		<string>ullutpat</string>
		<string>ulputat</string>
		<string>ulputpat</string>
		<string>ultrices</string>
		<string>ultricies</string>
		<string>uptatem</string>
		<string>urna</string>
		<string>ut</string>
		<string>utat</string>
		<string>utate</string>
		<string>utatum</string>
		<string>ute</string>
		<string>utet</string>
		<string>utetue</string>
		<string>utetumm</string>
		<string>utpat</string>
		<string>utpationse</string>
		<string>varius</string>
		<string>vehicula</string>
		<string>vel</string>
		<string>velenibh</string>
		<string>velenis</string>
		<string>velenisit</string>
		<string>velent</string>
		<string>velesse</string>
		<string>velessectem</string>
		<string>velessequis</string>
		<string>velessim</string>
		<string>velestio</string>
		<string>velestionse</string>
		<string>velesto</string>
		<string>veliquat</string>
		<string>veliqui</string>
		<string>veliquisit</string>
		<string>velis</string>
		<string>velisim</string>
		<string>velisit</string>
		<string>velisl</string>
		<string>velit</string>
		<string>vendiam</string>
		<string>vendiatie</string>
		<string>vendipissit</string>
		<string>vendre</string>
		<string>venenatis</string>
		<string>venibh</string>
		<string>venim</string>
		<string>venit</string>
		<string>vent</string>
		<string>ver</string>
		<string>verci</string>
		<string>vercilisit</string>
		<string>verit</string>
		<string>veriusto</string>
		<string>vero</string>
		<string>veros</string>
		<string>verostin</string>
		<string>vestibulum</string>
		<string>vitae</string>
		<string>vivamus</string>
		<string>viverra</string>
		<string>volenisis</string>
		<string>volesed</string>
		<string>volobore</string>
		<string>volor</string>
		<string>volore</string>
		<string>volorerci</string>
		<string>voloreros</string>
		<string>volumsan</string>
		<string>volut</string>
		<string>volutpat</string>
		<string>vulla</string>
		<string>vullam</string>
		<string>vullan</string>
		<string>vullandigna</string>
		<string>vullandio</string>
		<string>vulluptat</string>
		<string>vulluptatet</string>
		<string>vulluptatum</string>
		<string>vulput</string>
		<string>vulputat</string>
		<string>vulputate</string>
		<string>vulpute</string>
		<string>wis</string>
		<string>wiscinim</string>
		<string>wisi</string>
		<string>wisis</string>
		<string>wisl</string>
		<string>wismod</string>
		<string>wismodi</string>
		<string>wismoloreet</string>
		<string>wisse</string>
		<string>xer</string>
	</array>
	<key>sentenceTemplates</key>
	<array>
		<string>«word» «word» «word», «word» «word», «word» «word», «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word», «word» «word» «word» «word», «word» «word» «word» «word». </string>
		<string>«word» «word» «word». </string>
		<string>«word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word», «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word»; «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word», «word» «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word» «word» «word»; «word» «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word» «word» «word», «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word» «word»; «word» «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word», «word» «word» «word» «word» «word» «word» «word» «word» «word». </string>
		<string>«word» «word» «word», «word» «word» «word» «word» «word» «word», «word» «word» «word». </string>
		<string>«word» «word» «word» «word» «word» «word» «word», «word» «word» «word», «word» «word» «word» «word». </string>
	</array>
</dict>
</plist>
